NODE-RED flows (1).json
[{"id":"ffae9cc6.69754","type":"tab","label":"BasicWeb_class","disabled":false,"info":""},{"id":"d54c7c80.f73a9","type":"ibmiot in","z":"ffae9cc6.69754","authentication":"apiKey","apiKey":"d5bdb860.fc3328","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456789","applicationId":"","deviceType":"IotDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":180,"y":260,"wires":[["39e29ce.0bf6e64","5b0a37cb.675c18","d2b62ec3.b6f9"]]},{"id":"ab87526c.74d97","type":"debug","z":"ffae9cc6.69754","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":260,"wires":[]},{"id":"39e29ce.0bf6e64","type":"function","z":"ffae9cc6.69754","name":"Temp","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":280,"wires":[["ab87526c.74d97","c0fcdfd.8292c2"]]},{"id":"5b0a37cb.675c18","type":"function","z":"ffae9cc6.69754","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":180,"wires":[["ab87526c.74d97","9d5b0fbe.34d7a"]]},{"id":"d2b62ec3.b6f9","type":"function","z":"ffae9cc6.69754","name":"SoilMoisture","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":360,"wires":[["ab87526c.74d97","63559ff4.122f"]]},{"id":"9a8e5f0.82c5da","type":"ibmiot out","z":"ffae9cc6.69754","authentication":"apiKey","apiKey":"d5bdb860.fc3328","outputType":"cmd","deviceId":"0987654321","deviceType":"IotDevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":660,"wires":[]},{"id":"52f06bf7.3dc2e4","type":"http request","z":"ffae9cc6.69754","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"api.openweathermap.org/data/2.5/weather?q=Hyderabad,IN&appid=4153a18f7561bffca51bbbdd518765d4","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":560,"wires":[["ab87526c.74d97","48df3732.585328","b66d9c82.a684f","66625a9b.cf7364"]]},{"id":"820ddaa2.2892b8","type":"inject","z":"ffae9cc6.69754","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":420,"wires":[["52f06bf7.3dc2e4"]]},{"id":"c0fcdfd.8292c2","type":"ui_gauge","z":"ffae9cc6.69754","name":"","group":"a750c6a3.0a1018","order":0,"width":0,"height":0,"gtype":"gage","title":"TEMPERATURE","label":"Degree Celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":340,"wires":[]},{"id":"9d5b0fbe.34d7a","type":"ui_gauge","z":"ffae9cc6.69754","name":"","group":"a750c6a3.0a1018","order":1,"width":0,"height":0,"gtype":"gage","title":"HUMIDITY","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":420,"wires":[]},{"id":"63559ff4.122f","type":"ui_gauge","z":"ffae9cc6.69754","name":"","group":"a750c6a3.0a1018","order":2,"width":0,"height":0,"gtype":"gage","title":"SOILTEMP","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":520,"wires":[]},{"id":"d9fac328.c4086","type":"ui_button","z":"ffae9cc6.69754","name":"","group":"8b54920b.b4c31","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":340,"y":640,"wires":[["9a8e5f0.82c5da"]]},{"id":"e590158b.434928","type":"ui_button","z":"ffae9cc6.69754","name":"","group":"8b54920b.b4c31","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOROFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":360,"y":740,"wires":[["9a8e5f0.82c5da"]]},{"id":"b66d9c82.a684f","type":"function","z":"ffae9cc6.69754","name":"Humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":560,"wires":[["df4ad22b.e7c0a"]]},{"id":"66625a9b.cf7364","type":"function","z":"ffae9cc6.69754","name":"Pressure","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":620,"wires":[["9b351bd.70e04e8"]]},{"id":"48df3732.585328","type":"function","z":"ffae9cc6.69754","name":"Temperature","func":"msg.payload=msg.payload.main.temp\nreturn msg-273","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":520,"wires":[["ab87526c.74d97","8c4a1b2.1dd49e8"]]},{"id":"8c4a1b2.1dd49e8","type":"ui_gauge","z":"ffae9cc6.69754","name":"","group":"bbd5b043.d33c","order":0,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"Kelvin","format":"{{value}}","min":0,"max":"370","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":580,"wires":[]},{"id":"df4ad22b.e7c0a","type":"ui_gauge","z":"ffae9cc6.69754","name":"","group":"bbd5b043.d33c","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":640,"wires":[]},{"id":"9b351bd.70e04e8","type":"ui_gauge","z":"ffae9cc6.69754","name":"","group":"bbd5b043.d33c","order":2,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":700,"wires":[]},{"id":"d5bdb860.fc3328","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"a750c6a3.0a1018","type":"ui_group","z":"","name":"SMARTAGRICULTUREIOT","tab":"d36babbb.941928","order":1,"disp":true,"width":"6","collapse":false},{"id":"8b54920b.b4c31","type":"ui_group","z":"","name":"MOTOR_COMMANDS","tab":"d36babbb.941928","order":10,"disp":true,"width":"6","collapse":false},{"id":"bbd5b043.d33c","type":"ui_group","z":"","name":"OPENWEATHERAPI","tab":"d36babbb.941928","order":11,"disp":true,"width":"6","collapse":false},{"id":"d36babbb.941928","type":"ui_tab","z":"","name":"SMARTAGRI","icon":"dashboard","disabled":false,"hidden":false}]